/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

/*The background color for the whole portfolio is set to #eae2b7*/

body {
  background-color: #eae2b7;
}

body {
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}
/* All headers are center. Let's keep it that way for consistency */
header {
  text-align: center;
}

nav{ 
  font-family: "Playfair Display", Times, serif;
  word-spacing: 15px; /* Space between words */
  font-size: 15px;
  font-weight: bold;
}
  font-size: 15px;
  font-weight:1;
  margin:10
   }


/* Keep all headers within the same family font style to make it look more professional */

h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Do not change font size to numbers. It is easier to stick with small, medium or lager */

h2{
 font-size:large;
  text-align: center;
}

h3{
  font-size:medium;
  text-align: center;
}

.image-circle {
  border-radius: 100px;
  border: 2px #003049 solid;
}

ul{
  text-align:left;
  margin-left: 200px;
}

ol{
  text-align: left;
  margin-left: 200px;
}

article {
  padding: 35px 0;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.2;
  text-align:left;
  margin-left: 200px;
 }

footer{
  text-align:center;
}
/* The div container constrains the content width within the main container to 600px */

div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

hr {
  border: 1px solid black;
   margin-left: 85px;
  margin-right: 85px;
}

a{
  color: #d62828;
    }
a:hover {
  color: #f77f00;
}

/*This mock was really cool to work on. Feel free to add or change out Pete's designs to keep the website of his current work updated. If anything changes, be sure to keep the comments updated for the next coder. */



